[alias]
    pull = pull --recurse-submodules=on-demand
    spull = pull --recurse-submodules
    pusho ="!f(){ git push --set-upstream origin `git rev-parse --abbrev-ref HEAD`;}; f"

    d = diff --word-diff=color --patience --minimal
    df = diff --ignore-all-space --patience --minimal
    dff = diff --name-status

    slog = "!f(){ git log --oneline -${1-5};}; f"
    last = log -1 --name-status


    cm = commit
    ca = commit --amend --no-edit 
    co = checkout
    cob = checkout -b
    cop = "!f(){ git checkout ${1-develop} && git pull;}; f"
    cops = "!f(){ git checkout ${1-develop} && git pull --recurse-submodules;}; f"
    st = status -s

    lsbranch = branch --sort=-committerdate

    flush = "!f(){ git commit -am 'Trashed Awaaaaayyyyyy' --no-post-rewrite --no-verify && git reset HEAD~ --hard;}; f" 

    mt = mergetool
    graph = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(auto)%h - %d %s - %an%C(italic green)(%ar)%C(reset)' --all
    rbc = rebase --continue
    patch = add -p
    cleanup = remote prune origin
    subup = submodule update
[core]
    editor = nvim
    autocrlf = true
    pager = less -FRSX

[diff]
    tool = vimdiff
[merge]
    tool = vimdiff

[mergetool]
    keepBackup = false

[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[rerere]
    enabled = true

[include]
    path = ~/.gitspecificconfig    
